{% extends "study_base.html" %}

{% block title %}
    Добавление записи в блог
{% endblock %}

{% block breadcrumbs %}    
    {{ block.super }} --> <a href="/accounts/">Список пользователей</a> --> <a href="{% url 'userena_add_note' cur_user.username %}">Добавление записи в блог {{cur_user.username}}</a>
{% endblock %}

{% block content %}
{% load static %}
    {% if error == True %}
        <h2>Нельзя редактирвоать чужой блог!</h2>
    {% else %}
    <h2>Добавление записи в блог {{cur_user.username}}</h2>
    <form enctype="multipart/form-data" action="{% url 'userena_add_note' user.username %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        

        <input type="submit" value="Submit" />
    </form>
    {% endif %}
{% endblock %}
